@inject ILogger<EpFormFile> Logger;
@inject IDocumentService DocumentService;

<MudPaper Elevation="0" Class="@GetColorClass()">

	<MudStack Spacing="6" Class="pa-xs-2 pa-sm-6 my-6">

		<MudFileUpload T="IBrowserFile" FilesChanged="FileChanged">
			<ButtonTemplate>
				<MudStack Row="true" AlignItems="AlignItems.Center">
					<MudButton
						HtmlTag="label"
						Variant="Variant.Filled"
						Color="Color.Primary"
						for="@context.Id">
						Choisir un fichier
					</MudButton>

					<MudInputLabel> @GetFileLabel() </MudInputLabel>
				</MudStack>
			</ButtonTemplate>
		</MudFileUpload>

		<MudTextField
			T="string"
			@bind-Value="_titreDocument"
			Label="Titre du document"
			Variant="Variant.Filled"/>

		<MudButton
			Variant="Variant.Filled"
			OnClick="UploadDocument"
			Size="Size.Large"
			Color="Color.Tertiary"
			Disabled="@CanUpload()"
			Class="align-self-center">
			@if (IsLoading)
			{
				<MudProgressCircular Indeterminate="true"/>
			}
			else
			{
				<p>Ajouter le document</p>
			}
			
		</MudButton>

		<EpListeDocuments TypeDocument="TypeDocument"/>

	</MudStack>

</MudPaper>


@code
{
	private IBrowserFile? _currentFile;
	private string _titreDocument = string.Empty;

	private bool IsLoading = false;

	[Parameter] public TypeDocument TypeDocument { get; init; } = default!;

	[CascadingParameter] public EpState State { get; set; }

	private int DemandeId { get; set; }
	private HubConnection? HubConnection { get; set; }

	protected override void OnInitialized()
	{
		DemandeId = State.DemandeId;
		HubConnection = State.HubConnection;
	}

	private void FileChanged(IBrowserFile? file)
	{
		if (file is null) return;

		_currentFile = file;
	}

	private async Task UploadDocument()
	{
		if (_currentFile is null) return;

		IsLoading = true;

		var document = new Document
		{
			Description = _titreDocument,
			Nom = _currentFile.Name,
			StatutCode = StatutDocument.EnCours.Code,
			TypeCode = TypeDocument.Code,
			DemandeId = DemandeId
		};

		document.Id = await DocumentService.Create(document, _currentFile, HubConnection?.ConnectionId);

		_currentFile = null;
		_titreDocument = string.Empty;
		IsLoading = false;
	}

	private bool CanUpload() => _currentFile is null && IsLoading is false;
	private string GetFileLabel() => _currentFile?.Name ?? "Aucun fichier séléctionné";
	private string GetColorClass() => TypeDocument == TypeDocument.Projet ? "blue-grey lighten-5" : string.Empty;
}